.header {
  position: relative;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.menuWrapper {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  color: #888;
}

@media (max-width: 768px) {
  .menuWrapper {
    position: static;
    margin-bottom: 1rem;
  }
  
  .header {
    padding: 1rem;
  }
}